body {
    margin: 0;
    padding: 0;
}

#app-container {
    min-height: 98svh;
    width: 100%;
    border-left: 5px solid rgb(21, 41, 94);
    border-right: 5px solid rgb(0, 132, 61);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: unset;
}